.box{
    margin-top: 40px;
    width: 460px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:var(--pera);
    text-align: center;
    border-radius: 15px;
  }
  .box h1{
    color: var(--background);
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"],.box input[type = "number"]:focus{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: var(--background);
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "number"]:focus{
    width: 270px;
    transition: .5;
    border-color:var(--green);
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--green);
    padding: 14px 40px;
    outline: none;
    color:var(--background);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: var(--green);
  }
  