.navbar {
  background: linear-gradient(90deg, #1c1b1ba3, #1a171780);
  height: 80px;
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 9999;
}

.navbar-logo1 {
  color: #eeeeee;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

.navbar-logo1:hover {
  text-decoration: none;
  transition: all 0.2s ease-out;
  background: #00d4db;
  background: -webkit-linear-gradient(to right, #00d4db 34%, #72adcf 81%);
  background: -moz-linear-gradient(to right, #00d4db 34%, #72adcf 81%);
  background: linear-gradient(to right, #00d4db 34%, #72adcf 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-logo2 {
  color: #eeeeee;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

.navbar-logo2:hover {
  text-decoration: none;
  transition: all 0.2s ease-out;
  background: #00d4db;
  background: -webkit-linear-gradient(to right, #00d4db 34%, #72adcf 81%);
  background: -moz-linear-gradient(to right, #00d4db 34%, #72adcf 81%);
  background: linear-gradient(to right, #00d4db 34%, #72adcf 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 10rem;
  font-size: medium;
}



.navbar .showlinks {
  display: none;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links1,.nav-links2,.nav-links3,.nav-links4,.nav-links5 {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links1:hover,.nav-links2:hover,.nav-links3:hover,.nav-links4:hover,.nav-links5:hover{
  background-image: linear-gradient(to right, #25aae1, #3f86ed);
  color: black;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

#change-language {
  background-color: #a3eef1;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  color: green;
}

#change-language:hover {
  background-color: #16c3c9;
  color: greenyellow;
  background-image: linear-gradient(to right, #25aae1, #3f86ed);
}

@media screen and (max-width: 800px) {
  .navbar .showlinks {
    display: flex;
    margin-right: 10vw;
    padding: 5px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar .navbar-logo {
    size: 3rem;
    margin-left: 80px;
  }
  .nav-menu {
    display: none;
    
  }
  
  .navbar .hidden{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    left: 0px;
    top: 80px;
    width: 100%;
    height: 250px;
    padding-bottom: 10px;
    align-items: center;
    flex-direction: column;
    font-size: medium;
  }

  .showlinks:hover{
    transform:rotate(90deg);
    transition: all smooth 1000ms;
  }
}

.nav-links1{
  font-size: 1.5vw;
  margin-left: 1vw;
  position: absolute;
  left: 50vw;
}
.nav-links2{
  font-size: 1.5vw;
  margin-left: 1vw;
  position: absolute;
  left:57vw
}
.nav-links3{
  font-size: 1.5vw;
  margin-left: 1vw;
  position: absolute;
  left:72vw
}
.nav-links4{
  font-size: 1.5vw;
  margin-left: 1vw;
  position: absolute;
  left:80vw
}

.nav-links5{
  font-size: 1.5vw;
  margin-left: 1vw;
  position: absolute;
  left:88vw
}
.navbar-logo1{
  font-size: 2vw;
  position: absolute;
  left: 2vw;
}

.navbar-logo2{
  font-size: 2vw;
  position: absolute;
  left: 13vw;
}