@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 400;
    background-color: #ededed;
}

.footer{
    padding: 15px 0 ;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,68,121,1) 81%, rgba(0,212,255,1) 100%);
    margin-top: 100vh;
    animation: toggleColor 4000ms cubic-bezier(1, 0, 0.13, 1.01) infinite;
    height: 165px;
}
@keyframes toggleColor {
    0%{
        background: linear-gradient(145deg, rgb(83, 83, 87) 0%, rgb(132, 138, 144) 81%, rgb(77, 82, 83) 100%);
    }
    50%{
        background:linear-gradient1(45deg, rgb(106, 105, 116) 0%, rgb(76, 82, 87) 81%, rgrgb(74, 80, 82)00%);
    }
    100%{
        background: linear-gradient(145deg, rgb(70, 70, 75) 0%, rgb(67, 71, 75) 81%, rgb(88, 95, 97) 100%);
    }
}
.footer .social{
    text-align: center;
   
} 
.footer .social{
    transform: translateY(10px) translateX(30px);
    } 
.footer .social a{
    text-decoration: none;
    font-size: 26px;
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 3px 8px;
    transition: all .3s;
    opacity: 0.80;
    margin-left: -103px;
}
.footer .social a:hover{
    opacity: 1;
    /* background: #4475e2; */
    background: #22ceec;
    color: rgb(17, 31, 151);
    transform: translateY(5px);
}
.footer ul{
    margin-top: 0;
    padding: 10;
    list-style: none;
    font-size: 18px;
    line-height: 1.8em;
    margin-bottom: 0;
    text-align: center;
}
.footer ul a{
    color: rgb(247, 247, 251);
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 26px;
}
.footer ul li a:hover{
    opacity: 1;
    color: #03345f;
    font-weight: 700;
}
.nav-links{
    border-radius: 50px;
}
.nav-links:hover{
    background: #22ceec;
    /* color: #03345f; */
    cursor: pointer;
    transform: translateY(5px);
    transition: transform .3s;
}
.list{
    margin-bottom: 10px;
}
.list:hover{
    transform: translateY(5px);
    transition: transform .3s;
}

.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
}


@media only screen and(max-width:400px)
{
    .footer ul .list1{
        display: inline-block;
    }
}