@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 400;
    background-color: #ededed;
}

.footer{
    padding: 0px 0px ;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgb(76, 233, 233) 0%, rgb(21, 66, 105) 81%, rgb(140, 74, 202) 100%);
    margin-top: 100vh;
    margin-bottom: 0px;
    animation: toggleColor 4000ms cubic-bezier(1, 0, 0.13, 1.01) infinite;
    height: 165px;
}
@keyframes toggleColor {
    0%{
        background: linear-gradient(145deg, rgb(64, 227, 233) 0%, rgb(15, 101, 122) 81%, rgb(28, 90, 131) 100%);
    }
    50%{
        background:linear-gradient1(45deg, rgb(67, 58, 172) 0%, rgb(23, 95, 155) 81%, rgb(91, 139, 179) 100%);
    }
    100%{
        background: linear-gradient(145deg, rgb(81, 45, 150) 0%, rgb(91, 59, 150) 81%,rgb(131, 73, 158) 100%);
    }
}
.footer .social{
    text-align: center;
   
} 
.footer .social{
    transform: translateY(10px) translateX(30px);
    } 
.footer .social a{
    text-decoration: none;
    font-size: 26px;
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 15px 8px;
    transition: all .3s;
    opacity: 0.80;
    margin-left: -103px;
}
.footer .social a:hover{
    opacity: 1;
    /* background: #4475e2; */
    background: #020168;
    color: #fff;
    transform: translateY(5px);
}
.footer ul{
    margin-top: 0;
    padding: 10;
    list-style: none;
    font-size: 22px;
    line-height: 1.8em;
    margin-bottom: 0;
    text-align: center;
}
.footer ul a{
    color: rgb(247, 247, 251);
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 26px;
}
.footer ul li a:hover{
    opacity: 1;
    color: #fff;
    font-weight: 700;
}
.nav-links{
    border-radius: 50px;
}
.nav-links:hover{
    background: #020168;
    /* color: #03345f; */
    cursor: pointer;
    transform: translateY(5px);
    transition: transform .3s;
}
.list{
    margin-bottom: 10px;
}
.list:hover{
    transform: translateY(5px);
    transition: transform .3s;
}

.footer .copyright{
    padding: 10px;
    margin-top: 5px;
    margin-right: 0;
    text-align: end;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

@media only screen and(max-width:400px)
{
    .footer{
        padding: 0px;
    }
    .footer ul .list1{
        display: inline-block;
    }
}